/* Links */

.border1 {
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
}

.link {
	text-decoration: none;
}

body {
	height: 101%;
} 
